# Ignore Python bytecode and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore IDE/editor-specific files
*.vscode/
*.idea/
*.vs/
*.sublime-workspace

# Ignore logs and temp files
*.log
*.tmp

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore text file
notes.txt
